/* this css is applied on both news.ejs and fullnews.ejs file */


/* ------------------ top-most bar ------------------- */
#header{
   background-color: black;
   font-weight: 600;
   position: sticky;
   top: 0;
   z-index: 4;
}

.edit{
  float: left;
  color: white;
  margin: 20px 0 0 25px;
}

.edit-logo:hover{
  cursor: pointer;
}

.username{
  display: inline;
  margin-left: 10px;
  font-size: 17px;
}

.container{
   height: 70px;
   margin-right: 15px;
}

.container .logo{
    width: 280px;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    margin: 10px auto;
}

.companyLogo{
  height: 40px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.companyName{
  font-family: 'Fredoka One', cursive;
  display: inline-block;
  color: white;
  padding-top: 5px;
  font-size: 36px;
}

.logout{
  float: right;
  color: white;
  margin: 17px 0;
}

.logout_img{
  height: 35px;
}

.logout_img:hover{
   cursor: pointer;
}

/* ---------------------- nav bar ------------------------ */
.navbar{
  position: sticky;
  top: 70px;
  z-index: 2;
}

.general{
    font-size: 1rem;
    color: rgba(0,0,0,.55);
    text-decoration: none;
    margin-right: 10px;
}

.general:hover{
  color: black;
}

.nav-link{
   margin: 0 15px;
}

.highlight-link{
  font-weight: bold;

  /* !important rule will override ALL the previous styling rules for that specific property on that element */
  color: black !important;
}

/* ----------------------- weather box ----------------------- */
.weather-div{
    background-image: url(/images/weather-background.png);
    background-size: cover;
    border: 1px solid black;
    position: fixed;
    width: 25%;
    margin-top: 25px;
    height: 360px;
    right: 15px;
    border-radius: 20px;
}

.weather-title{
   /* from google fonts */
   font-family: 'Permanent Marker', cursive;
   color: white;
   padding: 10px 7px;
   text-align: center;
   margin: 0 30px;
}

#cityInput{
   margin-left: 40px;
   margin-top: 5px;
   padding-left: 5px;
}

#city-submit{
   border-radius: 5px;
   background-color: #009688;
   color: white;
   margin-left: 5px;
}

#city-submit:hover{
  font-weight: bold;
}

#weather-response{
  margin: 20px 30px 10px 30px;
  text-align: center;
  color: white;
}

.weather-desc{
   font-style: italic;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 5px;
}

.weather-icon{
   background-color: white;
   height: 60px;
   width: 60px;
   border-radius: 10px;
}

.temp{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0;
}

#date-time{
  color: wheat;
}

.day{
   display: inline;
   position: absolute;
   left: 0;
   bottom: 3px;
   font-size: 20px;
   margin-left: 10px;
   margin-bottom: 0px;
}

.date{
    display: inline;
    position: absolute;
    right: 0;
    bottom: 3px;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
}

/* -------------------------- contact Us ---------------------- */
.contact-us{
  position: fixed;
  text-align: right;
  right: 15px;
  bottom: 10px;
  width: 25%;
}

.mail-icon{
   color: darkslategrey;
}

/* all the following css is written so that my tooltip will be visible when user hovers on the icon  */
.tooltiptext{
    visibility: hidden;
    position: absolute;
    width: 110px;
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
    top: 0px;
    bottom: auto;
    right: 20%;
}

.contact-us .tooltiptext::after {
  content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.contact-us:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
