/* css for my logout.ejs file */

body{
  background-color: #faf0f5;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
}

.centered{
  text-align: center;
  padding-top: 40px;
}

h1{
  font-family: 'Fredoka One', cursive;
  margin-bottom: 20px;
  font-size: 53px;
}

.icon{
  border-radius: 100%;
  width: 18%;
}

.logout-message{
  font-family: 'Reggae One', cursive;
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0px;
}

.greet-message{
   font-family: 'Reggae One', cursive;
   font-size: 22px;
   margin-bottom: 40px;
   font-weight: 400;
}

a{
   color: green;
   font-style: italic;
}

a:hover{
   font-weight: bold;
   color: green;
}
